/* body {
    background-image: linear-gradient(17deg, rgba(0,0,0,1) 25%, rgba(4,0,255,1) 50%, rgba(0,0,0,1) 85%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
} */

::-webkit-scrollbar {
    display: none;
}

/* h1 {
    font-size: 50pt;
} */

.container-fluid {
    padding: 0px;
}

/* .navbar-color {
    background-color: black;
    padding-right: 25%;
    padding-bottom: 1.5%;
    margin-left: 45%;
    border-bottom-left-radius: 40px;
    box-shadow: 0 0 30px 0 black;
}

.home {
    margin-top: 300px;
} */

body {
    background-image: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer {
    height: 60px;
    width: 100%;
    top: 93%;
}

.os-icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.tab-item-sizer {
    width: 5px;
    height: 5px;
    background-color: #fff;
}