body {
    scroll-behavior: smooth;
    background-color: #f1f1f1;
}

.container-fluid {
    padding: 0px;
}

.title-names {
    opacity: 0;
    animation-play-state: running;
    animation: 2s ease-in-out infinite fadingText;
}

@keyframes fadingText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }
}

.hero {
    width: 100%;
    height: 100vh;
    color: #fff;
}

.hero-content {
    height: 80vh;
}

.hero-hr {
    border: 2px solid #fff;
    width: 20vh;
}

.tab-hr {
    border: 2px solid #121212;
    width: 10vh;
}

.about-me {
    width: 100%;
    height: 75vh;
}

.tab-h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.lang-prog {
    width: 80%;
    height: 0.7rem;
    background-color: black;
}

.progression-html {
    background-color: #aaaaaa;
}

.progress {
    width: 80%;
    margin: auto;
    margin-top: -8px;
}

.projects {
    background-color: #f1f1f1;
}

main {
    width: 100%;
}

article {
    border-radius: 10px;
    padding-bottom: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    text-underline-offset: 1px;
}

a:hover {
    text-underline-offset: 5px;
    text-decoration: underline solid #fff;
    transition: 0.2s all;
}

.cover-a:hover {
    text-underline-offset: 5px;
    text-decoration: underline solid #000;
    transition: 0.2s all;
}

h1 {
    font-size: 4.5rem;
}

p {
    font-size: 1rem;
}

ul {
    list-style: circle;
}

.side-ul {
    list-style: none;
}

.col-sm-4 {
    width: 30%;
}